@model IEnumerable<SBIT3J_SuperSystem.Models.Restock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InventoryManagementLayout.cshtml";
}

<h2>Restock</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestockID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RestockID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestockID })
        </td>
    </tr>
}

</table>
