@model Tuple<IEnumerable<SelectListItem>, List<SBIT3J_SuperSystem.Models.Restock>>

@{
    ViewBag.Title = "Restock";
    Layout = "~/Views/Shared/_InventoryManagementLayout.cshtml";

}

<div class="container-fluid rounded-1 p-4 h-100">
    <h2>Restock</h2>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        Create
    </button>
    <table class="table">

        <tr>
            <th>RestockID</th>
            <th>Date</th>
            <th>Total Amount</th>
            <th></th>
        </tr>

        @foreach (var restock in Model.Item2)
        {
            <tr>
                <td>@restock.RestockID</td>
                <td>@restock.Date</td>
                <td>@restock.TotalAmount</td>
                <td></td>
            </tr>
        }
    </table>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="form-group">
                        @Html.DropDownList("ProductId", Model.Item1, "Select a Product")
                    
                </div>
            </div>

            <!-- Modal Footer (Optional) -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })

            </div>
        </div>
    </div>
</div>


<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS (Popper.js and Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

